h2 {
  word-break: break-word;
}

form {
  max-width: 768px;
  margin: 32px auto 0 auto;
}

form .search_container{
  display: flex;
  flex-direction: column; 
}

form .search_container div{
  display: flex;
  flex-direction: column; 
}

form input {
  font-size: 24px;
  padding: 16px;
  border-radius: 4px;
  margin-bottom: 16px;  
}

form button {
  padding: 16px;
  font-size: 24px;
  background-color: blue;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
}

form button:hover {
  background-color: rgba(0, 0, 255, 0.452);
}



.list_container, .error_container {
 max-width: 768px;
 margin: 32px auto 0 auto;
 padding: 8px 16px 16px 16px;
 background-color: #61b0fb25;
 border-radius: 4px;
}

.error_container {
  display: flex;
  justify-content: center;

  background-color: white;
  color: red;

}

.description_container {
  margin-bottom: 32px;
}

.owner_container {
  display: flex;
  justify-content: space-between;
}

span {
  display: block;
}

 @media(min-width: 768px) {
    form .search_container div{
        width: 75%;
    }

   form .search_container {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     padding: 0;
   }

   form .search_container input {
     margin-bottom: 0;
   }
   
 }

